
body{

    background-color: #262C33;
    margin:auto;
}
.image{
    justify-content: center;
    margin-left: 30%;
}
  
 h1{
    text-align: center;
    font-size: 40px;
    color: aliceblue;
 }

  p{
    text-align: justify;
    font-size:23px;
    padding: 2%;
    margin: 20px 0;
    color: aliceblue;
  }

  