*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
}
a{
    text-transform: capitalize;
    font-size: 20px;
}
body{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif; 
}

.image {
    height: 200px;
    width: 100%; 
    
} 
.image{
    display: flex;
    justify-content: center;
    background-image: url("http://images.catchnews.com/upload/2019/01/11/rajasthan_145374_2560x1440.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.menu-bar{
    background-color: #ecf8417e;
    text-align: center;
   z-index: 5;
}
.menu-bar ul{
   display: inline-flex;
   list-style: none;
   color: #fff;
   z-index: 5;
}
.menu-bar ul li{
    
    margin: 15px;
    padding: 15px;
    z-index: 5;
}

.menu-bar ul li input{
    width: 150px;
    border-radius: 5px;
    font-size: 20px;
    z-index: 5;
}
.menu-bar ul li a{
    text-decoration: none;
    color: black;
    z-index: 5;
}
.active, .menu-bar ul li:hover{
    background: #2bab0d;
    border-radius: 3px;
    z-index: 5;
}
.sub-menu-1{
   display: none;
   z-index: 5;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: yellowgreen;
    margin-top: 15px;
    margin-left: -15px;
    z-index: 5;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
    z-index: 5;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    z-index: 5;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
color: red;
z-index: 5;
}

/* body work */
body{
    margin: 0px;
    padding:0px;
    text-align:center;
}

.container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 450px 450px;
    grid-gap: 0px;
}

.gallery-item{
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image{
    width:100%;
    height:100%;
    overflow:hidden;
}

.gallery-item .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition:.5s ease-in-out;

}

.gallery-item:hover .image img{
    transform: scale(1.5);
}

.gallery-item .text
{
    opacity:0;
    position:absolute;
    top:50%;
    left:50%;;
    transform:translate(-50%,-50%);
    color: white;
    font-size: 25px;
    z-index:4;
    transition: .3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
}
.gallery-item:hover .text
{
    opacity:1;
    animation: move-down .3s linear;
    padding:1em;
    width: 85%;
}
.dausabtnexplore{
    padding: 8px 30px;
    background-color: white;
    color: blueviolet;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    text-decoration: none;
}

.dausabtnexplore:before, .dausabtnexplore:after{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid white;
    transition: all 1s;
}

.dausabtnexplore:before{
    bottom: -1px;
    right: -1px;
    border-top: 5px solid #482ff7;
    border-left: 5px solid #482ff7;
    transform: rotate(180deg);
}
.dausabtnexplore:after{
    top: -1px;
    left: -1px;
    border-top: 5px solid #482ff7;
    border-left: 5px solid #482ff7;
}

.dausabtnexplore:hover{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.dausabtnexplore:hover:after, .dausabtnexplore:hover:before{
    width: 110%;
    height: 110%;
}

.gallery-item .subtext{
    font-size: 15px;
}
/* footer part */

.footer{
    background-image: url('https://www.tourism.rajasthan.gov.in/content/dam/rajasthan-tourism/english/city/explore/521.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.list{
    list-style-type: circle;
    display: inline;
}
.ben{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    display: inline-block;
    width: 400px;
    height: 300px;
    text-align: left;
}
.end{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    border-radius: 350%;
}
.para1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    border-radius: 50%;
}
.seat{
    background-color: orange;
    opacity: 0.5;
}























@keyframes move-down
{
    0%{
        top: 10px;
    }
    50%{
        top:35%;
    }
    100% {
        top:50%;
    }
}


